<% content_for :title do %>Assignment 3<% end %>
<h3>Assignment 3</h3>
<p>


Write a Rails application that that allows to user to convert celcius to

fahrenheit. The application should display the two temperatures visually. It's

up to you to decide how to implement this and which technology to use, it

should be web based. Make sure the design will allow for adding more

functionality later, such as doing other kinds conversions.
</p>
